@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* shared styles */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}
html,
/* body { */
  html,body{
    overflow-x: hidden;
  }
/* } */
h1,
h2,
h3,
h4,
h5 {
  padding: 0px;
  margin: 0px;
}

/* Header styles  */
header {
  width: 100%;
}
.header-icon{
  color: #f948b2;
  margin-right: 10px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo img {
  margin-right: 20px;
  width: 100%;
  height: 100%;
}
.header-logo h3 {
  font-size: 3rem;
  font-weight: 700;
}
.logo-styles {
  color: #ff42a5;
}
nav {
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 22px;
  z-index: 999;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 1200px;
  margin: 0 auto;
}

nav .nav-items ul {
  display: flex;
}

nav .nav-items li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #424242;
  padding: 8px 12px;
  margin-right: 10px;
}
.icon-youtube {
  color: red;
  padding: 5px;
}
.icon-tiktok {
  padding: 5px;
}
.follow-us-btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

.header-btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
/* banner styles */
.banner {
  width: 100%;
}
.banner-text {
  grid-area: banner-text;
}
.banner-image {
  grid-area: banner-image;
}
.banner-items {
  margin: 0 auto;
  width: 1200px;
  display: flex;
}
.banner-text {
  width: 600px;
}
.banner-bg {
  /* position: absolute; */
  background-image: url(../images/Group14.png);
  width: 100%;
  height: 100;
  background-repeat: no-repeat;
}

.text-styles {
  color: #0b0223;
  /* text-align: center; */
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 195px;
}
.goat {
  font-family: Work Sans;
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-primary {
  border-radius: 3rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  font-size: 1.3rem;
  font-weight: 600px;
  text-transform: uppercase;
  padding: 21px 40px;
  color: #fff;
  margin-right: 20px;
  border: 0;
}
.btn-secondary {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  font-size: 1.3;
  font-weight: 600px;
  text-transform: uppercase;
  padding: 21px 40px;
  color: #fff;
  background: #4ec5f7;
  border: 0;
}
/* online section */
.online-section {
  width: 100%;
}
.online-text-content {
  width: 1200px;
  margin: 0 auto;
}
.online-text {
  text-align: center;
  margin-top: 120px;
}
.spec-clr {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-text h3 {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
}
.online-text p {
  color: #534c64;

  font-family: Work Sans;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.online-contents {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: row;
  gap: 20px;
}
.items img {
  width: 95%;
}

/* test */
.online-items{
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 81%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the background color and opacity as needed */
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  border: 3px solid #F948B2;
}
.overlay h1 {
  color: white;
  font-size: 24px;
  opacity: 0; /* Initially hidden */
}
.online-items:hover .overlay {
  opacity: 1;
}

.online-items:hover .overlay h1 {
  opacity: 1;
}
/* test */
/* action section */
.action-section {
  width: 100%;
  margin: -50px 0px 100px 0px;
}
.action {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: ; */
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  grid-gap: 5px;
  justify-content: center;
}
.action > .action-item {
  /* flex: 1 1 50%; */
  display: flex;
}
.action-item img {
  margin-right: 10px;
}
.action-item p {
  font-weight: 600;
  padding-top: 3px;
}
.action-item {
  width: 200px;
  padding: 8px;
  border-radius: 20px;
  margin: 2px;
}

.action-item:hover {
  border: 1px solid #ff42a5;
}

/* play section */
.play-section {
  width: 100%;
  margin: 100px 0px 0px 0px;
}

.play-item {
  width: 600px;
  display: flex;
}

.play-style {
  color: #ff42a5;
  font-size: 3rem;
  font-weight: 700;
  line-height: 60px; /* 125% */
}

.play-item h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 60px; /* 125% */
}
.play-section {
  width: 100%;
}
.play {
  width: 1200px;
  /* display: grid;
  grid-template-columns: 600px 600px; */
  margin: 0 auto;
}
.play-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 60px; /* 125% */
  margin: 50px 0px 23px 145px;
}
.play-prag {
  margin-left: 145px;
}
/* .image-group{
  margin-left: 80px;
} */
.play-img {
  padding-left: 140px;
  width: 620px;
}
.play-img2 {
  transform: translate(46px, -185px);
  width: 200px;
}
/* Footer area */
.footer {
  width: 100%;
  background: #0b0223;
  height: 570px;
}
.footer-area {
  width: 1200px;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  margin-bottom: 60px;
}
.logo h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: white;
}
.footer-menu {
  margin: 50px 0px 50px 0px;
}
.footer-menu ul {
  display: flex;
  justify-content: center;
}
.footer-menu ul li {
  list-style: none;
  margin-right: 40px;
}
.footer-menu ul li a {
  color: white;
  text-decoration: none;
}

.social ul {
  display: flex;
  justify-content: center;
}
.social .icon {
  color: white;
  font-size: 2.8rem;
  margin-right: 2.3rem;
}
.privacy {
  margin: 50px 0px 20px 0px;
}
.privacy ul {
  display: flex;
  justify-content: center;
}
.privacy ul li {
  list-style: none;
  margin-right: 40px;
}
.privacy ul li a {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
.gamer-bd {
  margin: 10px 0px 100px 0px;
}
.gamer-bd p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.logo img {
  margin-right: 20px;
}
@media screen and (max-width: 576px) {
  html,body{
    overflow-x: hidden;
  }
  /* header section  */
  .nav-items {
    flex-direction: column;
    width: 100%;
  }
  .banner-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* flex-direction: column; */
    width: 90%;
    position: relative;
  }
  .online-text-content {
    width: 90%;
    margin: 0 auto;
  }

  .online-contents {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    /* gap: 20px; */
  }
  .online-section{
    margin-top: 130%;
  }
  .container {
    grid-template-areas:
      "banner-image"
      "banner-text";
  }
  .banner-text {
    margin-top: 300px;
  }
  .banner-image img {
    width: 60%;
  }
  .banner-bg {
    background-image: url(../images/Group14.png);
    width: 100%;
    height: 400px;
    /* height: 100; */
    background-repeat: no-repeat;
  }
  /* play section */
  .play-item {
    display: grid;
    grid-template-columns: row;
    width: 100%;
    /* text-align: center; */
  }
  .play-img{
    width: 90%;
  }
  .play-img2{
    width: 35%;
    transform: translate(77px, -115px);
  }
  /* .image-group{
    margin-left: 0px;
  } */
  /* action section */
  .action-section {
    width: 100%;
    margin: 50px 0px 100px 0px;
  }
  .action{
    width: 100%;
  }
  .action-item{
    width: 31%;
  }

  /* footer section */
  .footer {
    width: 100%;
  }
  nav .nav-items ul{
    flex-direction: column;
    align-items: center;
  }
  nav .nav-items ul li {
    margin-top: 1.2rem;
  }
  .header-logo h3{
    font-size: 2rem;
  }
  .play-text{
    margin: 60px 0px 0px 0px;
  }
  .play-prag {
    margin-left: 10px;
  }
  .play{
    width: 100%;
  }
  .footer-area{
    width: 60%;
    margin: 0px 50px 0px 50px;
  }
  .footer-menu ul {
    flex: 1 1 50%;
  }
}
